
@media only screen and (max-width: 600px) {

  body {
    background-image: url(images/pexels-guvo-28672187.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
  }

  .overall-container {
    width: fit-content;
    height: 100vh;
    margin: auto;
    background-color: rgba(39, 84, 54, 0.712);
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
    justify-content: space-around;
    /* padding:  30px; */
    box-sizing: border-box;
  }

  .form-container {
    width: 90%;
    height: fit-content;
    background-color: rgba(99, 165, 144, 0.443);
    margin: auto;
    border-radius: 12px;
    box-shadow: 1px 1px 6px 1.2px rgb(48, 94, 76);
    /* margin-bottom: 20px; */
    border-right-color: rgb(84, 142, 142);
    padding: 20px;
    text-align: center;
  }

  .icon-container {
    width: 60%;
    display: flex;
    border-radius: 12px;
    box-shadow: 1px 0 3px;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.627);
    /* padding: 10px; */
    display: flex;
  
  }

  form {
    margin-top: -20px;
  }
  
  .icon-container img {
    width: 30px;
    height: 30px;
    border-radius: 200px;
    box-shadow: 1px 1px 2px .4px;
  }

  .icon-container img:hover {
    transition: ease-in-out .1s;
    position: absolute;
    z-index: 1;
    width: 170px;
    height: 170px;
    margin: auto;
    margin-bottom: 200px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px .4px;
  }
  
  #iconline {
    background-color: #ffffff58;
    margin-top: 2px;
    width: 80;
    height: 50px;
    align-content: center;
    display: none;
    justify-content: space-evenly;
    border-radius: 200px;
    box-shadow: 1px 1px 2px .4px;
  }

  .title {
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 2.5px 2px 1.2px black;
    font-family:'Courier New', Courier, monospace;
    font-size: 42px;
    flex-wrap: wrap;
    display: grid;
    align-items: center;
    border-bottom: 3px solid chartreuse;
    margin-top: -30px;
    /* background-color: aqua; */
  }

  .heading {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 33px;
    font-weight: 700;
  }

  .description {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 22px;
  }

  
  .describeFooter {
    margin-top: 10px;
  }
  
  .footer {
    height: fit-content;
    width: 95%;
    margin: auto;
    display: flex;flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    /* background-color: #fff; */
  }
  
  .copyright {
    width: 98%;
    height: 30px;
    /* background-color: #321010; */
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    font-size: 16px;
   }
  
   .desktop {
    display: none;
   }

}
